<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a>タスク管理</a>
      <%= link_to '[タスク一覧へ]', tasks_path %>
      <%= link_to '[タスクの登録へ]', new_task_path %>
    </header>
    <%= yield %>
  </body>
</html>
